body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to right, #00ffff, #8a2be2);
    color: #fff;
    text-align: center;
    margin: 50px;
}

header {
    background-color: rgba(169,169,169,0.5);
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  display: inline-block;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.page-wrap {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto;
}

.pet {
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  color: black;
}

.pet h2 {
  font-weight: normal;
  margin: 0;
  font-size: 2.5rem;
}

.pet h2 .species {
  font-size: 1.45rem;
  color: #999;
}

.headline-bar {
  margin: 0;
  background-color: #CCC;
  padding: 8px 15px;
}

.favorite-foods {
  background-color: #EFEFEF;
  padding: 0;
  margin: 0;
}

.favorite-foods li {
  list-style: none;
  border-bottom: 1px dotted #999;
  padding: 8px 15px;
  font-size: .85rem;
}

.photo-column {
  width: 35%;
  float: left;
}

.info-column {
  width: 65%;
  box-sizing: border-box;
  padding-left: 20px;
  float: left;
}

@media (max-width: 760px) {
  .photo-column,
  .info-column {
    width: auto;
    float: none;
    padding: 0;
  }
}

footer {
    background-color: rgba(169,169,169,0.5);
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(169,169,169,0.5);
    border-radius: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #61dfff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #61dfff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #00ffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #5f12a6;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}

.fetch {
  background-color: #046380;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

.fetch:hover {
  background-color: #034F66;
}

.fetch:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}