body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to right, #00ffff, #8a2be2);
    color: #fff;
    text-align: center;
    margin: 50px;
}

header {
    background-color: rgba(169,169,169,0.5);
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
}

footer {
    background-color: rgba(169,169,169,0.5);
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5px
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(169,169,169,0.5);
    border-radius: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #61dfff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #61dfff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #00ffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #5f12a6;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


input {
    background-color: rgba(169,169,169,0.5);
    color: white;
    border: 2px rgba(169,169,169,0.5);
    border-radius: 15px;
    height: 25px;
    padding: 5px;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

#primeNums {
    background-color: #7d2be2;
    color: white;
    padding: 20px;
    border-style: inset;
    border-color: white;
    border-radius: 5px;
    flex: 1;
}

#regNums {
    background-color: #00aeff;
    color: white;
    padding: 20px;
    border-style: inset;
    border-color: white;
    border-radius: 5px;
    flex: 1;
}