body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to right, #00ffff, #8a2be2);
    color: #fff;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(169,169,169,0.5);
    border-radius: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #61dfff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #61dfff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #00ffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #5f12a6;
}

#container {
   display: flex;
}

#game {
   flex: 3;
   flex-direction: column;
   align-items: center;
   border: 3px solid black;
}

#status {
   flex: 2;
   align-items: center;
   border: 3px solid black;
}

#gallows {
   max-height: 410px;
   min-height: 390px;
   max-width: 260px;
   min-width: 240px;
}

#wordToGuess {
   margin: 20px;
   font-size: 24px;
}

#letters {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 250px; /* Adjust based on the total width you prefer */
   margin: 0 auto;
 }
 
 #letters button {
   margin: 5px;
   padding: 10px;
   width: 40px;
   height: 40px; /* Ensure buttons are square */
 }
 
div button {
   padding: 10px;
   margin: 5px;
}

.hidden {
   visibility: hidden;
}
